@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
}
header > h1 {
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;

}
header > p {
    text-align: center;
    padding-bottom: 50px;
}
header a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
} 
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal {
    background-color: white;
}
section.imagem {
    background-color: rgb(14, 14, 24);
    color: white;
}
section.imagem > p {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.445);
}
#img1 {
    background: darkgray url('imagens/background001.jpg') center center no-repeat fixed;
}
#img2 {
    background: darkgray url('imagens/background002.jpg') center center no-repeat fixed;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    font-weight: bold;
}
footer > p {
    padding: 10px;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
}